# 忽略不需要的文件和文件夹
新建文件夹/
新建文件夹 (2)/
个人信息扫描/
*.lnk
desktop.ini
*.bat
*.sh
index_backup_*.html
image_b64.txt
temp_html.txt
*.docx
*.pdf
*.zip
*.7z
*.rar
# Godot 项目
ZeroAndOne/
# 系统文件
.DS_Store
Thumbs.db
ehthumbs.db
